/CS 363/Lab0a/nbproject/private/
/CS 363/Lab0a/build/
/CS 363/Lab 0/GUI/nbproject/private/
/CS 363/Lab 2/MonteHall/nbproject/private/
/CS 363/Lab 2/MonteHall/build/
/CS 363/Lab 2/MonteHall/dist/
/CS 363/Lab 2/LV_proto/nbproject/private/
/CS 363/Lab 2/LV_proto/dist/
/CS 363/Lab 2/LV_proto/build/
/CS 363/Lab 2/LV_Proto/nbproject/private/